@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* This is for demo purposes only! */
div[class^="col-"] {
  background: pink;
  border: 1px solid red;
  text-align: center;
  padding: 1rem 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 11);
          flex: 0 0 calc(100% / 12 * 11);
  /* 11/12 */
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 10);
          flex: 0 0 calc(100% / 12 * 10);
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 9);
          flex: 0 0 calc(100% / 12 * 9);
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 8);
          flex: 0 0 calc(100% / 12 * 8);
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 7);
          flex: 0 0 calc(100% / 12 * 7);
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 6);
          flex: 0 0 calc(100% / 12 * 6);
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 5);
          flex: 0 0 calc(100% / 12 * 5);
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 4);
          flex: 0 0 calc(100% / 12 * 4);
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 3);
          flex: 0 0 calc(100% / 12 * 3);
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 2);
          flex: 0 0 calc(100% / 12 * 2);
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 12 * 1);
          flex: 0 0 calc(100% / 12 * 1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #212529;
}

.button--primary {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: bold;
  color: #2f445d;
  padding: 1.2rem 2rem;
  border-radius: 50px;
  background-color: #ff6b00;
}

.button--primary:hover {
  cursor: pointer;
  background-color: #ff6a00d5;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: color linear 0.2s, background-color linear 0.2s, -webkit-transform linear 0.2s;
  transition: color linear 0.2s, background-color linear 0.2s, -webkit-transform linear 0.2s;
  transition: color linear 0.2s, transform linear 0.2s, background-color linear 0.2s;
  transition: color linear 0.2s, transform linear 0.2s, background-color linear 0.2s, -webkit-transform linear 0.2s;
}

.label--primary {
  width: 100%;
  height: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
}

.label--primary h3 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff6b00;
}

header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 7rem;
  display: block;
}

header .container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
}

header .navbar {
  height: 100%;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

header .navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

header .navbar__item {
  margin-right: 6rem;
}

header .navbar__item a {
  font-size: 1.8em;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  letter-spacing: 0.05em;
}

header .navbar__item a::after {
  position: absolute;
  opacity: 0;
  background: #ff6b00;
  width: 0;
  height: 0.3rem;
  content: "";
  z-index: 1;
  bottom: -0.35rem;
  left: 0;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar__item a:hover::after {
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity linear 0.3, width linear 0.3s;
  transition: opacity linear 0.3, width linear 0.3s;
}

header .navbar__item a:active {
  color: #ff6b00;
}

header .navbar__item a:active::after {
  width: 100%;
  opacity: 1;
}

header .navbar__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main {
  margin: 7em 0;
}

main .sections {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .sections .section {
  width: 100%;
  max-width: 1320px;
  height: 100%;
  margin: 10rem auto 0 auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: capitalize;
}

.hero__content h3 {
  font-weight: bold;
  font-size: 3.2em;
}

.hero__content h3 u {
  color: #ff6b00;
}

.hero__content h1 {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 4.8em;
}

.hero__content p {
  margin: 2rem;
  font-weight: normal;
  font-size: 2.4em;
}

.hero__image {
  margin-top: 5rem;
}

.hero__image img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.hero__bottom {
  margin-top: 13.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__bottom .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41.6rem;
  height: 12rem;
  background-color: #292B2E;
  margin-right: 2rem;
  border-radius: 10px;
}

.hero__bottom .item__icon {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff6b00;
  background-color: rgba(255, 106, 0, 0.138);
}

.hero__bottom .item__icon i {
  font-size: 3em;
  color: #ff6b00;
}

.hero__bottom .item__content {
  width: 16rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__bottom .item__content h1 {
  font-size: 3.2em;
  color: #ff6b00;
}

.hero__bottom .item__content p {
  font-size: 1.6em;
  line-height: 1.6;
  color: #fff;
}

.hero__bottom .item__explore {
  width: 4rem;
  height: 4rem;
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10rem;
  color: #ff6b00;
}

.hero__bottom .item__explore:hover {
  cursor: pointer;
  background-color: rgba(255, 106, 0, 0.138);
  -webkit-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img {
  width: 62rem;
  height: 60rem;
  margin-right: 4rem;
}

.about__img img {
  width: 100%;
  height: 100%;
}

.about__content__header {
  width: 14.8rem;
}

.about__content h1 {
  color: #fff;
  font-size: 4.8em;
  font-weight: bold;
  margin-bottom: 3rem;
}

.about__content p {
  color: #fff;
  font-weight: normal;
  font-size: 1.6em;
}

.about__content__button {
  margin-top: 5.5rem;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__header {
  width: 14.8rem;
}

.skills__title {
  width: 52rem;
  margin-bottom: 3rem;
}

.skills__title h1 {
  color: #fff;
  font-size: 4.8em;
  font-weight: bold;
  text-transform: capitalize;
}

.skills__description {
  width: 67rem;
}

.skills__description p {
  color: #fff;
  font-weight: normal;
  font-size: 1.6em;
}

.skills__button {
  margin-top: 5.5rem;
}

.skills__img__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__img__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #383E45;
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.works {
  width: 1234px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__header {
  width: 14.8rem;
}

.works__title {
  width: 52rem;
  margin-bottom: 3rem;
  text-align: center;
}

.works__title h1 {
  color: #fff;
  font-size: 4.8em;
  font-weight: bold;
  text-transform: capitalize;
}

.works__menu {
  margin-bottom: 3rem;
}

.works__menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__menu .list__item {
  font-weight: 600;
  font-size: 1.6em;
  color: #fff;
  margin-right: 2rem;
  padding: 0.7rem 2rem;
}

.works__menu .list__item.active {
  border-radius: 5px;
  background-color: #ff6b00;
  color: #2f445d;
  -webkit-transition: background-color linear 0.2s, color linear 0.2s;
  transition: background-color linear 0.2s, color linear 0.2s;
}

.works__menu .list__item:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff6b00;
  color: #2f445d;
  -webkit-transition: background-color linear 0.2s, color linear 0.2s;
  transition: background-color linear 0.2s, color linear 0.2s;
}

.works__imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__imgs .item__top {
  margin-bottom: 3rem;
}

.testimonials {
  width: 1234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__header {
  width: 19.2rem;
}

.testimonials__title h1 {
  color: #fff;
  font-size: 4.8em;
  font-weight: bold;
  margin-bottom: 3rem;
}

.testimonials__quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__quotes .quote__item {
  height: 45rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 5rem 2.5rem;
  color: #2f445d;
  font-weight: normal;
}

.testimonials__quotes .quote__item .description p {
  font-size: 2em;
  font-style: italic;
}

.testimonials__quotes .quote__item .bottom {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__quotes .quote__item .bottom img {
  width: 7.2rem;
  height: 7.2rem;
  margin-right: 2rem;
}

.testimonials__quotes .quote__item .bottom__infor {
  color: #000;
}

.testimonials__quotes .quote__item .bottom__infor h3 {
  font-size: 2em;
}

.testimonials__quotes .quote__item .bottom__infor p {
  font-size: 1.6em;
}

footer {
  width: 100%;
  height: 15rem;
  background-color: #1C1C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #fff;
  font-size: 2em;
  margin-right: 0.5rem;
}

footer span {
  color: #ff6b00;
  font-weight: bold;
  font-size: 2.5em;
}
