main {
    margin: 8em 0;

    .sections {
        width: 100%;
        display:flex;
        flex-direction: column;
        gap: 10rem 0;

        .section {
            width: 100%;
        }
    }
}


@import "./hero";
@import "./about";
@import "./skills";
@import "./works";
@import "./testimonials";
