main {
    margin-top: 7em;

    .sections {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .section {
            width: 100%;
            max-width: 1320px;
            height: 100%;
            margin: 10rem auto 0 auto;
        }
    }
}


@import "./hero";
@import "./about";