/* This is for demo purposes only! */
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

div[class^="col-"] {
    text-align: center;
    padding: 1rem 0;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-12 {
    flex: 0 0 100%;
  }
  
  .col-11 {
    flex: 0 0 calc(100% / 12 * 11 ); /* 11/12 */
  }
  
  .col-10 {
    flex: 0 0 calc(100% / 12 * 10)
  }
  
  .col-9 {
    flex: 0 0 calc(100% / 12 * 9)
  }
  
  .col-8 {
    flex: 0 0 calc(100% / 12 * 8)
  }
  
  .col-7 {
    flex: 0 0 calc(100% / 12 * 7)
  }
  
  .col-6 {
    flex: 0 0 calc(100% / 12 * 6)
  }
  
  .col-5 {
    flex: 0 0 calc(100% / 12 * 5)
  }
  
  .col-4 {
    flex: 0 0 calc(100% / 12 * 4)
  }
  
  .col-3 {
    flex: 0 0 calc(100% / 12 * 3)
  }
  
  .col-2 {
    flex: 0 0 calc(100% / 12 * 2)
  }
  
  .col-1 {
    flex: 0 0 calc(100% / 12 * 1);
  }