header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 8rem;
    display: block;
    z-index: 999;


    .container {
        height: 100%;
    }

    .navbar {
        height: 100%;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            display: flex;
            justify-content: flex-start;
        }

        &__menu {
            display: flex;
            justify-content: center;
            list-style-type: none;
        }

        &__item {
            margin: 0 3rem;

            a {
                font-size: 1.8em;
                text-decoration: none;
                color: $white;
                text-transform: capitalize;
                position: relative;
                letter-spacing: 0.05em;
            }

            a::after {
                position: absolute;
                opacity: 0;
                background: $primary__color;
                width: 0;
                height: 0.3rem;
                content: "";
                z-index: 1;
                bottom: -0.35rem;
                left: 0;
                display: block;
                transition: 0.3s;
            }

            a:hover::after {
                width: 100%;
                opacity: 1;
                transition: opacity linear 0.3, width linear 0.3s;
            }


            a.active {
                color: $primary__color;

            }

            a.active::after{
                width: 100%;
                opacity: 1;
            }
        }

        &__button {
            display: flex;
            justify-content: flex-end;
        }
    }


} 


//--------------Responsive-----------------------

// tablet: width < 740px
@media only screen and (max-width: 46.1875em) {
    .hidden {
        display: none;
    }

    .mobile {
    }
}

// Tablet: 740px <= width < 1024px
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .hidden {
        display: none;
    }
    
    .tablet {
    }
}

// PC: width >= 1024px
@media only screen and (min-width: 64em) {
    .hidden {
        display: none;
    }
    
    .desktop {
    }
}
