main {
    margin: 8em 0;

    .sections {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        .section {
            width: 100%;
            margin: 10rem 0;
            position: relative;
        }

        .section:first-child {
            margin-top: 18rem;
        }

        .place__holder {
            position: absolute;
            top: -18rem;
        }
    }
}


@import "./hero";
@import "./about";
@import "./skills";
@import "./works";
@import "./testimonials";
