footer {
  width: 100%;
  height: 10rem;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;

  p {
    color: $white;
    font-size: 2em;
    margin-right: 0.5rem;
  }

  span {
    color: $primary__color;
    font-weight: bold;
    font-size: 2.5em;
  }
}
