footer {
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  margin-top: 17.4rem;

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;

    .banner {
      width: 120rem;
      height: 17.4rem;
      border-radius: 1.5rem;
      background-color: $primary__color;
      padding: 0 8rem;
      display: grid;
      grid-template-columns: 3fr 4fr 2fr;
      column-gap: 2rem;
      justify-content: center;
      align-items: center;
      transform: translateY(-50%);

      &__title {
        place-self: center;
        h1 {
          font-size: 4em;
          font-weight: bold;
          color: #f5fbf2;
        }
      }

      &__description {
        place-self: center;
        max-width: 40rem;
        p {
          text-align: center;
          font-size: 2em;
          font-weight: 500;
          color: #f5fbf2;
        }
      }

      &__button {
        place-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          color: $primary__color;
          font-size: 2em;
          font-weight: 500;
          padding: 1.5rem 4rem;
          border: 2px solid #f5fbf2;
          border-radius: 5rem;
          background-color: #f5fbf2;
          cursor: pointer;
        }

        button:hover {
          color: #f5fbf2;
          background-color: $primary__color;
          border-color: #f5fbf2;
          transition: all 0.2s linear;
        }
      }
    }

    .information {
      width: 100%;
      margin-bottom: 8rem;
      &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }

      &__item {
        h1 {
          font-size: 3.2em;
          color: $primary__color;
          margin-bottom: 3.5rem;
          font-weight: 700;
        }
        p {
          font-size: 1.8em;
          text-transform: capitalize;
          color: #d4d4d4;
          font-weight: 600;
        }

        h2 {
          color: $white;
          font-size: 2.2em;
          margin-bottom: 2rem;
          font-weight: 700;
        }

        li {
          list-style-type: none;
          a {
            text-decoration: none;
            font-size: 1.8em;
            line-height: 2.3em;
            color: #7b7b7b;
            font-weight: 500;
            transition: all 0.2s linear;
          }

          a:hover {
            color: $primary__color;
          }
        }

        p.letter__text {
          font-size: 1.8em;
          line-height: 2.3em;
          color: #7b7b7b;
          font-weight: 500;
          margin-bottom: 4rem;
        }

        .letter {
          &__box {
            display: flex;
            align-items: center;
          }

          &__input {
            max-width: 30rem;
            width: 100%;
            padding: 1.5rem 7rem 1.5rem 2.2rem;
            font-weight: normal;
            font-size: 1.6em;
            line-height: 2.2em;
            border-radius: 5rem;
            background-color: #212529;
            color: #7b7b7b;
            outline: none;
            border: none;
          }

          &__icon {
            width: 9.45rem;
            height: 6.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary__color;
            border-radius: 5rem;
            transform: translateX(-100%);
            cursor: pointer;
            transition: all 0.2s linear;

            i {
              font-size: 2.2em;
              color: #212529;
            }

            &:hover {
              background-color: #f5fbf2;
              border: 1px solid $primary__color;

              i {
                color: $primary__color;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  footer {
    .footer {
      max-width: 100rem;

      .banner {
        max-width: 100rem;
        width: 100%;
        padding: 0 4rem;
        &__title {
          h1 {
            font-size: 3.5em;
          }
        }

        &__description {
          p {
            font-size: 1.8em;
          }
        }

        &__button {
          button {
            font-size: 1.8em;
            padding: 1.2rem 2.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  footer {
    .footer {
      padding: 0 2rem;
      .banner {
        width: 100%;
        padding: 0 2rem;
        &__title {
          h1 {
            font-size: 3em;
          }
        }

        &__description {
          p {
            font-size: 1.7em;
          }
        }

        &__button {
          button {
            font-size: 1.7em;
            padding: 1rem 2rem;
          }
        }
      }

      .information {
        &__list {
          grid-template-columns: repeat(2, 50%);
          justify-content: center;
        }

        &__item {
          .letter {
            &__icon {
              width: 6.5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .footer {
      .banner {
        height: 13rem;
        width: 100%;
        max-width: 50rem;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;
        &__title {
          h1 {
            font-size: 2.6em;
            text-align: center;
          }
        }

        &__description {
          display: none;
        }

        &__button {
          button {
            font-size: 1.8em;
            padding: 1.2rem 2.5rem;
          }
        }
      }

      .information {
        &__item {
          margin-top: 2rem;
          padding-left: 2rem;
        }
        .letter__input {
          width: 25rem;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  footer {
    .footer {
      .banner {
        height: 10rem;
        width: 40rem;
        &__button {
          button {
            padding: 1.2rem 1.1rem;
          }
        }
      }
      .information {
        .letter {
          &__box {
            flex-direction: column;
          }
          &__input {
            width: 18rem;
            margin-bottom: 2rem;
            padding: 1.5rem 2rem;
          }

          &__icon {
            width: 18rem;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  footer {
    .footer {
      .banner {
        max-width: 30rem;
      }
    }
  }
}
