header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: block;
    z-index: 999;


    .container {
        height: 8rem;
    }

    .navbar {
        height: 100%;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            display: flex;
            justify-content: flex-start;
        }

        &__menu {
            display: flex;
            justify-content: center;
            list-style-type: none;
        }

        &__item {
            margin: 0 3rem;

            a {
                font-size: 1.8em;
                text-decoration: none;
                color: $white;
                text-transform: capitalize;
                position: relative;
                letter-spacing: 0.05em;
            }

            a::after {
                position: absolute;
                opacity: 0;
                background: $primary__color;
                width: 0;
                height: 0.3rem;
                content: "";
                z-index: 1;
                bottom: -0.35rem;
                left: 0;
                display: block;
                transition: 0.3s;
            }

            a:hover::after {
                width: 100%;
                opacity: 1;
                transition: opacity linear 0.3, width linear 0.3s;
            }


            a.active {
                color: $primary__color;

            }

            a.active::after{
                width: 100%;
                opacity: 1;
            }
        }

        &__button {
            display: flex;
            justify-content: flex-end;
        }
    }

    .header-mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: none;


        .navbar-mobile {
            width: 100%;
            height: 100%;

            &__btn-open {
                height: 100%;
                position: absolute;
                font-size: 5rem;
                color: $primary__color;
                left: 2rem;
            }

            &__btn-close {
                position: absolute;
                font-size: 5rem;
                color: $primary__color;
                left: 2rem;
            }

            &__menu {
                
            }

            &__item {

            }
        }
    }
} 


//--------------Responsive-----------------------

// mobile: width < 768px
@media (max-width: 768px) {
    .container {
        .navbar {
            display: none;
        }
    }
    .header-mobile {
        display: block;
        .navbar-mobile {

            &__menu {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                text-align: center;
                background: #FFF;
                opacity: 0;
                z-index: -1;
                visibility: hidden;
                transition: all .375s;

                &.is-open {
                    opacity: 1;
                    z-index: 100;
                    visibility: visible;

                    &::before {
                        transform: skew(-14deg) translateX(0);
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: -15px;
                    background: #FEDC2A;
                    transform-origin: 0 0;
                    transform: skew(-14deg) translateX(-120%);
                    transition: all .275s .1s;
                }

                ul {
                    display: inline-flex;
                    flex-direction: column;
                    height: 93%; /* Should be 100%, but we have a notice message :D */
                    align-items: flex-end;
                    justify-content: center;
                    transform: translateX(-18%) skew(-16deg);

                    li {
                        display: block;
                        margin: .5rem 0;
                        text-align: right;
                        transform: skew(16deg);

                        a {
                            opacity: 0;
                            transform: translateY(-10px);
                        }
                    }
                }
            }
        }
    }
}
