.skills {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
    }

    &__header {
        width: 14.8rem;
    }

    &__title {
        width: 52rem;
        margin-bottom: 2rem;
        
        h1 {
            color: $white;
            font-size: 4.8em;
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    &__description {
        width: 67rem;
        p {
            color: $white;
            font-weight: normal;
            font-size: 1.8em;
        }   
    }

    &__button {
        margin-top: 4rem;
    }

    &__img {
        &__list {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 2rem 2rem;
        }
    
        &__item {
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: #383E45;
            width: 10rem;
            height: 10rem;

            img {
                width: 6rem;
                height: 6rem;
            }
        }
    }

}