.testimonials {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
        width: 19.2rem;
    }

    &__title {
        h1 {
            color: $white;
            font-size: 4.8em;
            font-weight: bold;
            margin-bottom: 3rem;
        }
    }

    &__quotes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5rem;

        .quote__item {
            height: 100%;
            background-color: $white;
            border-radius: 10px;
            padding: 5rem 2.5rem;
            color: $text__color;
            font-weight: normal;

            .description {
                p {
                    font-size: 2em;
                    font-style: italic;
                }
            }

            .bottom {
                height: 10rem;
                display:flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    width: 7.2rem;
                    height: 7.2rem;
                    margin-right: 2rem;
                }

                &__infor {
                    color: #000;

                    h3 {
                        font-size: 2em;
                    }

                    p {
                        font-size: 1.6em;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .testimonials {
        padding: 0 2rem;
    }
}


@media (max-width: 768px) {
    .testimonials {
        &__title {
            h1 {
                font-size: 3.8em;
            }
        }

        &__quotes {
            grid-template-columns: 1fr;
            row-gap: 2rem;
        }

        .quote__item {
            width: 100%;
            max-width: 50rem;
            padding: 2rem;
        }
    }
}

@media (max-width: 576px) {
    .testimonials {
        &__title {
            h1 {
                font-size: 2.8em;
            }
        }
    }
}