@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-2-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .l-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wide .l-0 {
    display: none;
  }
  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }
  .wide .l-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .l-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .l-2-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .wide .l-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .l-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .l-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .l-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .l-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .l-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .l-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .l-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .l-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .l-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .l-o-3 {
    margin-left: 25%;
  }
  .wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .l-o-6 {
    margin-left: 50%;
  }
  .wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .l-o-9 {
    margin-left: 75%;
  }
  .wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #212529;
}

.button--primary {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: bold;
  color: #2f445d;
  padding: 1.2rem 1.4rem;
  border-radius: 50px;
  background-color: #ff6b00;
}

.button--primary:hover {
  cursor: pointer;
  background-color: #ff6a00d5;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: color linear 0.2s, background-color linear 0.2s, -webkit-transform linear 0.2s;
  transition: color linear 0.2s, background-color linear 0.2s, -webkit-transform linear 0.2s;
  transition: color linear 0.2s, transform linear 0.2s, background-color linear 0.2s;
  transition: color linear 0.2s, transform linear 0.2s, background-color linear 0.2s, -webkit-transform linear 0.2s;
}

.label--primary {
  width: 100%;
  height: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
}

.label--primary h3 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff6b00;
}

header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: block;
  z-index: 999;
}

header .container {
  height: 8rem;
  width: 100%;
  display: block;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

header .navbar {
  height: 100%;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

header .navbar__item {
  margin: 0 3rem;
}

header .navbar__item a {
  font-size: 1.8em;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  letter-spacing: 0.05em;
}

header .navbar__item a::after {
  position: absolute;
  opacity: 0;
  background: #ff6b00;
  width: 0;
  height: 0.3rem;
  content: "";
  z-index: 1;
  bottom: -0.35rem;
  left: 0;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar__item a:hover::after {
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity linear 0.3, width linear 0.3s;
  transition: opacity linear 0.3, width linear 0.3s;
}

header .navbar__item a.active {
  color: #ff6b00;
}

header .navbar__item a.active::after {
  width: 100%;
  opacity: 1;
}

header .navbar__button--hire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .navbar__button--close, header .navbar__button--open {
  color: #ff6b00;
  font-size: 3em;
  cursor: pointer;
  display: none;
}

header .navbar__button--close {
  position: absolute;
  right: 3rem;
}

header .navbar__overlay {
  display: none;
}

@media (max-width: 768px) {
  .container .navbar {
    padding: 0 3rem;
  }
  .container .navbar__menu, .container .navbar__button--hire {
    display: none;
  }
  .container .navbar__menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 40rem;
    top: 0;
    left: -100%;
    right: 0;
    display: block;
    background-color: #333;
    padding: 4rem 0;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .container .navbar__menu.active {
    left: 0;
    opacity: 1;
  }
  .container .navbar__item {
    margin-top: 4.5rem;
  }
  .container .navbar__item a {
    font-size: 2.3em;
  }
  .container .navbar__button--open {
    display: block;
  }
  .container .navbar__button--open.hide {
    display: none;
  }
  .container .navbar__button--close {
    display: block;
  }
  .container .navbar__button--close.hide {
    display: none;
  }
  .container .navbar__overlay {
    position: fixed;
    height: 100vh;
    width: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }
  .container .navbar__overlay.active {
    display: block;
  }
}

main {
  margin: 8em 0;
}

main .sections {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

main .sections .section {
  width: 100%;
  margin: 10rem 0;
  position: relative;
}

main .sections .section:first-child {
  margin-top: 18rem;
}

main .sections .place__holder {
  position: absolute;
  top: -12rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: capitalize;
}

.hero__content h3 {
  font-weight: bold;
  font-size: 3.2em;
}

.hero__content h3 u {
  color: #ff6b00;
}

.hero__content h1 {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 4.8em;
}

.hero__content p {
  margin: 2rem;
  font-weight: normal;
  font-size: 2.4em;
}

.hero__image {
  width: 20rem;
  height: 25rem;
  background-color: transparent;
  position: relative;
  margin-bottom: 4rem;
  overflow: hidden;
}

.hero__image .circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  background-color: #ff6b00;
  overflow: hidden;
  border-radius: 50%;
}

.hero__image .circle img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 25rem;
}

.hero__image img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 25rem;
}

.hero__image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1;
  -webkit-box-shadow: 0 100px 0 40px #212529;
          box-shadow: 0 100px 0 40px #212529;
}

.hero__bottom {
  width: 100%;
  margin-top: 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.hero__bottom .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12rem;
  background-color: #292B2E;
  border-radius: 10px;
}

.hero__bottom .item__icon {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff6b00;
  background-color: rgba(255, 106, 0, 0.138);
}

.hero__bottom .item__icon i {
  font-size: 3em;
  color: #ff6b00;
}

.hero__bottom .item__content {
  width: 25rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__bottom .item__content h1 {
  font-size: 3.2em;
  color: #ff6b00;
}

.hero__bottom .item__content p {
  font-size: 1.6em;
  line-height: 1.6;
  color: #fff;
}

.hero__bottom .item__explore {
  width: 4rem;
  height: 4rem;
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #ff6b00;
}

.hero__bottom .item__explore:hover {
  cursor: pointer;
  background-color: rgba(255, 106, 0, 0.138);
  -webkit-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
}

@media (max-width: 1042px) {
  .hero__bottom {
    -webkit-column-gap: 0rem;
            column-gap: 0rem;
  }
  .hero__bottom .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 12rem;
    background-color: #292B2E;
    border-radius: 10px;
    margin: 2rem;
  }
  .hero__bottom .item__icon {
    width: 5rem;
    height: 5rem;
  }
  .hero__bottom .item__content {
    width: 19rem;
    height: 7rem;
  }
  .hero__bottom .item__explore {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (max-width: 768px) {
  .hero__content h1 {
    font-size: 2.8em;
    text-align: center;
  }
  .hero__content p {
    text-align: center;
  }
  .hero__bottom {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 4rem;
  }
  .hero__bottom .item {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero__bottom .item__icon {
    width: 8rem;
    height: 8rem;
  }
  .hero__bottom .item__explore {
    width: 8rem;
    height: 8rem;
    font-size: 3em;
  }
}

.about {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.about__img {
  max-width: 60rem;
  max-height: 60rem;
}

.about__img img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
}

.about__content {
  padding: 0 2rem;
}

.about__content__header {
  width: 14.8rem;
}

.about__content h1 {
  color: #fff;
  font-size: 4.8em;
  font-weight: bold;
  margin-bottom: 3rem;
}

.about__content p {
  color: #fff;
  font-weight: normal;
  font-size: 1.8em;
}

.about__content__button {
  margin-top: 5.5rem;
}

@media (max-width: 1024px) {
  .about {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "text" "img";
    row-gap: 3rem;
    justify-items: center;
  }
  .about__img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img;
    max-width: 48rem;
    max-height: 48rem;
  }
  .about__img img {
    width: 100%;
    height: 100%;
  }
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    width: 48rem;
  }
  .about__content h1 {
    font-size: 3.8em;
    margin-bottom: 2rem;
  }
  .about__content p {
    width: 100%;
    text-align: center;
  }
  .about__content__button {
    margin-top: 3rem;
  }
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.skills__header {
  width: 14.8rem;
}

.skills__title {
  width: 52rem;
  margin-bottom: 2rem;
}

.skills__title h1 {
  color: #fff;
  font-size: 4.8em;
  font-weight: bold;
  text-transform: capitalize;
}

.skills__description {
  width: 67rem;
}

.skills__description p {
  color: #fff;
  font-weight: normal;
  font-size: 1.8em;
}

.skills__button {
  margin-top: 4rem;
}

.skills__img__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem 2rem;
}

.skills__img__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #383E45;
  width: 10rem;
  height: 10rem;
}

.skills__img__item img {
  width: 6rem;
  height: 6rem;
}

@media (max-width: 1024px) {
  .skills {
    padding: 0 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "content" "img";
    row-gap: 3rem;
  }
  .skills__content {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: content;
    place-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills__title {
    width: 100%;
  }
  .skills__description {
    text-align: center;
  }
  .skills__button {
    margin-top: 2rem;
  }
  .skills__img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img;
  }
  .skills__img__list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills__img__item {
    grid-area: skill;
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 768px) {
  .skills__content {
    width: 100%;
    max-width: 50rem;
  }
  .skills__title h1 {
    font-size: 3.8rem;
    text-align: center;
  }
  .skills__description {
    width: 100%;
  }
  .skills__img__list {
    gap: 2rem;
  }
  .skills__img__item {
    grid-area: skill;
    width: 12rem;
    height: 12rem;
  }
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__header {
  width: 14.8rem;
}

.works__title {
  width: 52rem;
  margin-bottom: 3rem;
  text-align: center;
}

.works__title h1 {
  color: #fff;
  font-size: 4.8em;
  font-weight: bold;
  text-transform: capitalize;
}

.works__menu {
  margin-bottom: 3rem;
}

.works__menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__menu .list__item {
  font-weight: 600;
  font-size: 1.6em;
  color: #fff;
  margin: 0 1rem;
  padding: 0.7rem 2rem;
}

.works__menu .list__item.active {
  border-radius: 5px;
  background-color: #ff6b00;
  color: #2f445d;
  -webkit-transition: background-color linear 0.2s, color linear 0.2s;
  transition: background-color linear 0.2s, color linear 0.2s;
}

.works__menu .list__item:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff6b00;
  color: #2f445d;
  -webkit-transition: background-color linear 0.2s, color linear 0.2s;
  transition: background-color linear 0.2s, color linear 0.2s;
}

.works__imgs {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 1.2rem;
          column-gap: 1.2rem;
}

.works__imgs .img__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.works__imgs .img__wrapper .img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.works__imgs .img__wrapper .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.works__imgs .img__wrapper .middle .text {
  font-size: 5rem;
  color: #ff6b00;
}

.works__imgs .img__wrapper:hover .img {
  opacity: 0.3;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.works__imgs .img__wrapper:hover .middle {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity linear 0.3s;
  transition: opacity linear 0.3s;
}

.works__imgs--swiper {
  display: none;
}

@media (max-width: 1024px) {
  .works__imgs {
    padding: 0 2rem;
  }
  .works__imgs .img__item {
    place-self: center;
  }
  .works__imgs .img__wrapper {
    margin-bottom: 2rem;
  }
  .works__imgs .img__wrapper .img {
    max-width: 31rem;
  }
}

@media (max-width: 768px) {
  .works__title h1 {
    font-size: 3.8em;
  }
  .works__imgs {
    display: none;
  }
  .works__imgs--swiper {
    max-width: 60rem;
    width: 100%;
    height: 40rem;
    display: block;
    overflow: hidden;
  }
  .works__imgs--swiper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .works__imgs--swiper .swiper-slide img {
    max-width: 50rem;
    max-height: 30rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .works__imgs--swiper .swiper-button-prev, .works__imgs--swiper .swiper-button-next {
    color: #ff6b00;
  }
  .works__imgs--swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff6b00;
  }
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__header {
  width: 19.2rem;
}

.testimonials__title h1 {
  color: #fff;
  font-size: 4.8em;
  font-weight: bold;
  margin-bottom: 3rem;
}

.testimonials__quotes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
}

.testimonials__quotes .quote__item {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 5rem 2.5rem;
  color: #2f445d;
  font-weight: normal;
}

.testimonials__quotes .quote__item .description p {
  font-size: 2em;
  font-style: italic;
}

.testimonials__quotes .quote__item .bottom {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__quotes .quote__item .bottom img {
  width: 7.2rem;
  height: 7.2rem;
  margin-right: 2rem;
}

.testimonials__quotes .quote__item .bottom__infor {
  color: #000;
}

.testimonials__quotes .quote__item .bottom__infor h3 {
  font-size: 2em;
}

.testimonials__quotes .quote__item .bottom__infor p {
  font-size: 1.6em;
}

@media (max-width: 1024px) {
  .testimonials {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .testimonials__title h1 {
    font-size: 3.8em;
  }
  .testimonials__quotes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .testimonials .quote__item {
    padding: 2rem;
  }
}

footer {
  width: 100%;
  height: 10rem;
  background-color: #1C1C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}

footer p {
  color: #fff;
  font-size: 2em;
  margin-right: 0.5rem;
}

footer span {
  color: #ff6b00;
  font-weight: bold;
  font-size: 2.5em;
}
